[Unit]
Description=Mainnet-Reth
After=network.target
StartLimitIntervalSec=0
PartOf=mainnet.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=eth
Group=eth
UMask=0002
ExecStart=/usr/local/bin/mainnet reth

[Install]
WantedBy=multi-user.target
